# This workflow will build a golang project
# Uses the reusable workflow from adnvilla/gha-toolkit
# For more information see: https://github.com/adnvilla/gha-toolkit

name: Go

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-and-test:
    uses: adnvilla/gha-toolkit/.github/workflows/go-base.yml@v1.1.1
    with:
      go-version: '1.24'